/*prevent problems with different browsers*/
*{box-sizing: border-box;}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
/*Header Stuff Here*/
header{
    background-color: #dd6e42;
    padding: 1rem 2vw;
    align-items: flex-end;
    display: flex;
}

header h1{
   margin: 0;
   color: #172a3a
}
header p{
    margin: 0;
    color: #172a3a;
    letter-spacing: 1px;
 }
/* small screens*/
/*nav stuff goes here*/
@media only screen and (max-width: 800px) {
    nav{
        background-color: #f2e29f;
    }
    nav ul{
        list-style-type: none;
        padding: 0 2vw;
        margin:0;

    }
    nav a{
        font-size: 1.1rem;
        text-decoration: none;
        color: #172a3a;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
        text-align: center;
        border-bottom: solid, 1px, #f2e29f;
    }
    nav li.active a{
        background-color: #172a3a;
        background-image: linear-gradient(#172a3a,#030608);
        color: #f2e29f;
    }
    nav a:hover {
        color: white;
    }

} /*end of the media query*/

/*Big screens*/
@media only screen and (min-width: 801px) {
    nav{
        background-color: #f2e29f;
    }
    nav ul{
        list-style-type: none;
        padding: 0 2vw;
        margin:0;
        display: flex
    }
    nav a{
        font-size: 1.1rem;
        text-decoration: none;
        color: #172a3a;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }
    nav li.active a{
        background-color: #172a3a;
        color: #f2e29f;
    }
    nav a:hover {
        color: white;
    }

} /*end of the media query*/

/*stuff for the main*/
main{
    padding: 1rem 2vw;
}

main h1{
    color: #b3eefa;
}

main h2{
    color: #172a3a;
    margin-bottom: .2rem;
}

main p{
    color: #172a3a;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}

main dl dt {
    color: #b3eefa;
    font-weight: 700;
}

main dl dd {
    color: #024273;
    font-size: .9rem;
}

main ul{
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address{
    font-style: normal;
    background-color: #f2b705;
    padding: .5rem;
    width: 12.5rem;
    border: 1.2px solid;
    border-radius: 5px;
}

main anchor{
    color: #024873;
}

main a:hover{
    color: rgb(239,0,24);
}

.crochethero {
    width: 100%;
    margin: 0;
}

.crochethero img {
    width: 100%;
    height: auto;
}

figure.wrapped{
    width:30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img{
    width: 100%;
    height:auto;
}

figure.wrapped figcaption{
    text-align: center;
    font-size: .75rem;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
}

div.gallery img:hover{
    box-shadow: 1px 2px 10px black;
}

div.gallery figure{
    margin: .5rem 2% 0 0;
    height: auto;
}

div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: #172a3a
}

.myForm fieldset{ 
    border: 1px solid #172a3a;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #172a3a;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea, .myForm [type=email]
{
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(221,110,66,0.1);
}

.myForm [type=submit] {
    background-color: #172a3a;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}
 

/*footer stuff here*/
footer{
    background-color: #eaeaea;
    text-align: center;
    color: #024873;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #024873;
    clear: both;
}